<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
<title>トラリピ - トップ</title>
</head>
<body>
<h1>トラリピ - TOP</h1>

<h2>今日の決済取引 (利益: <span th:text="${profitToday}"></span>円)</h2>
<table class="table table-striped">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>レンジ</th>
			<th>買い価格</th>
			<th>売り価格</th>
			<th>利益</th>
			<th>決済日時</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tradeResultDto,iterStat:${tradeResultDtoList}">
			<th scope="row" th:text="${iterStat.count}"></th>
			<td th:text="${tradeResultDto.range}"></td>
			<td th:text="${tradeResultDto.buyPx}"></td>
			<td th:text="${tradeResultDto.sellPx}"></td>
			<td th:text="${tradeResultDto.profit}"></td>
			<td th:text="${tradeResultDto.execTime}"></td>
		</tr>
	</tbody>
</table>
<h2>昨日の決済取引 (利益: <span th:text="${profitYesterday}"></span>円)</h2>
<table class="table table-striped">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>レンジ</th>
			<th>買い価格</th>
			<th>売り価格</th>
			<th>利益</th>
			<th>決済日時</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tradeResultDto,iterStat:${tradeResultDtoYesterdayList}">
			<th scope="row" th:text="${iterStat.count}"></th>
			<td th:text="${tradeResultDto.range}"></td>
			<td th:text="${tradeResultDto.buyPx}"></td>
			<td th:text="${tradeResultDto.sellPx}"></td>
			<td th:text="${tradeResultDto.profit}"></td>
			<td th:text="${tradeResultDto.execTime}"></td>
		</tr>
	</tbody>
</table>


<h2>保有ポジション (合計: <span th:text="${positionCount}"></span>)</h2>
<table class="table table-striped">
	<thead class="thead-inverse">
		<tr>
			<th>レンジ</th>
			<th>注文価格</th>
			<th>約定価格</th>
			<th>取得日時</th>
		</tr>
	</thead>
	<thead>
		<tr th:each="position:${positionDtoList}">
			<th th:text="${position.range}"></th>
			<td th:text="${position.orderPx}"></td>
			<td th:text="${position.fillPx}"></td>
			<td th:text="${position.execTime}"></td>
		</tr>
	</thead>
</table>

</body>
</html>