<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
<title>トラリピ - トップ</title>
</head>
<body>
<h1>トラリピ - TOP</h1>

<h2>利益</h2>
<p>今日： <span th:text="${profitToday}"></span>円</p>
<p>昨日： <span th:text="${profitYesterday}"></span>円</p>

<!--
<h2>取引</h2>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>レンジ</th>
			<th>買い注文番号</th>
			<th>売り注文番号</th>
			<th>決済日時</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="positionHistory:${positionHistoryList}">
			<th scope="row"></th>
			<td th:text="${positionHistory.trapPx}"></td>
			<td th:text="${positionHistory.trapPx}"></td>
			<td th:text="${positionHistory.askClOrdId}"></td>
			<td th:text="${positionHistory.bidClOrdId}"></td>
			<td th:text="${positionHistory.settlTime}"></td>
		</tr>
	</tbody>
</table>
 -->

<h2>ポジション</h2>
<p>ポジション数： <span th:text="${positionCount}"></span></p>
<table class="table">
	<thead>
		<tr>
			<th>レンジ</th>
			<th>注文価格</th>
			<th>約定価格</th>
			<th>取得日時</th>
		</tr>
	</thead>
	<thead>
		<tr th:each="position:${positionDtoList}">
			<td th:text="${position.range}"></td>
			<td th:text="${position.orderPx}"></td>
			<td th:text="${position.fillPx}"></td>
			<td th:text="${position.execTime}"></td>
		</tr>
	</thead>
</table>

</body>
</html>